{%extends 'layout.html' %}

{%block title%}
    {{title}}
{%endblock%}

{%block content%}

{% comment 'Nota para el comentario' %}
    <h1>Esto es una cabecera comentada y no va a aparecer</h1>
{% endcomment %}

<h1 class="title">{{title}}</h1>

<p>{{mi_variable}}</p>

{% if nombre and nombre == 'Javier Mayorgas'%}
    <p>{{nombre}}</p>
{%else%}
    <strong>El nombre no existe o no coincide</strong>
{%endif%}

<h3> Listado de lenguajes de programacion </h3>
<ul>
    {% for lenguaje in lenguajes %}
        <li>{{lenguaje}} {{forloop.counter}} {{forloop.counter0}} {{forloop.first}} {{forloop.last}}</li>
    {% empty %}
        <p>No hay lenguajes que mostrar</p>
    {% endfor %}
</ul>


{% include 'fecha-actual.html' with saludo="Hola mundo desde plantilla"%}


{%endblock%}